body{
	
	background-image:url("http://www.aldaron.estranky.cz/img/mid/34/cool-krava.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 20px 100px;
}
h1{
	background-color:yellow;
	color:red;
}
p{
	background-color:green;
	color:blue
}